apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: blakeshome
  namespace: flux-system
spec:
  interval: 24h
  url: https://blakeblackshear.github.io/blakeshome-charts/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
  namespace: flux-system
spec:
  interval: 10m0s
  timeout: 10m
  chart:
    spec:
      chart: frigate
      version: 7.8.0
      sourceRef:
        kind: HelmRepository
        name: blakeshome
        namespace: flux-system
      interval: 1h
  targetNamespace: frigate
  valuesFrom:
    - kind: ConfigMap
      name: frigate-values
      valuesKey: values.yaml
