apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-issuer
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/cert-manager-issuer
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
    namespace: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  dependsOn:
    - name: cert-manager
  wait: true
  timeout: 5m
