apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml

configMapGenerator:
  - name: proxy-config
    files:
      - nginx.conf=nginx-proxy.conf
    options:
      disableNameSuffixHash: true
