# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vector
  namespace: vector
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: vector
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: timberio/vector
              tag: 0.53.0-debian@sha256:a3c2790c83180f89569981173d34a9680c05dc0da114fbe2a55235a099acfa13
            env:
              TZ: Europe/London
            resources:
              requests:
                memory: 128Mi
                cpu: 100m
              limits:
                memory: 512Mi
                cpu: 500m
            probes:
              liveness:
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8686
                  periodSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  periodSeconds: 10
                  failureThreshold: 3
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  failureThreshold: 12

    service:
      main:
        controller: main
        type: LoadBalancer
        ports:
          talos-kernel:
            port: 6001
            protocol: UDP
          talos-service:
            port: 6002
            protocol: UDP
          api:
            port: 8686
            protocol: TCP

    persistence:
      config:
        type: configMap
        name: vector-config
        globalMounts:
          - path: /etc/vector
            readOnly: true
