# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: huntarr
  namespace: huntarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: huntarr
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 988
        fsGroupChangePolicy: OnRootMismatch
      annotations:
        glance/name: "Huntarr"
        glance/icon: "https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/webp/huntarr.webp"
        glance/url: "https://huntarr.home.coredev.uk"
        glance/description: "Duplicate Hunter"

    controllers:
      main:
        containers:
          main:
            image:
              repository: huntarr/huntarr
              tag: 9.3.7@sha256:95e88b2595f71b1ec2e158a3b9461c573e192928c51ac2b0d9675f33d4cdba15
            env:
              TZ: Europe/London
              PUID: "1000"
              PGID: "988"
              HUNTARR_PORT: "9705"
            resources:
              requests:
                memory: 512Mi
                cpu: 100m
              limits:
                memory: 1500Mi
                cpu: 1000m
            probes:
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 9705
                  periodSeconds: 10
                  failureThreshold: 4
              liveness:
                enabled: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  periodSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  periodSeconds: 30
                  failureThreshold: 3

    service:
      main:
        controller: main
        ports:
          http:
            port: 9705

    persistence:
      config:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 250Mi
        storageClass: longhorn
        globalMounts:
          - path: /config
      data:
        type: nfs
        server: 192.168.20.40
        path: /var/nfs/shared/Homelab
        globalMounts:
          - path: /data
      downloads:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 100Gi
        storageClass: longhorn
        globalMounts:
          - path: /downloads
