---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana-oci
  namespace: flux-system
spec:
  interval: 12h
  url: oci://ghcr.io/grafana/helm-charts
  ref:
    semver: "6.51.x"
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: flux-system
spec:
  interval: 10m0s
  timeout: 10m
  chart:
    spec:
      chart: loki
      version: 6.51.0
      sourceRef:
        kind: OCIRepository
        name: grafana-oci
        namespace: flux-system
      interval: 1m0s
  targetNamespace: monitoring
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  valuesFrom:
    - kind: ConfigMap
      name: loki-values
      valuesKey: values.yaml
