# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Monitoring (must be first for ServiceMonitor CRDs)
  - ../../k8s/kube-prometheus-stack/flux.yaml
  
  # Logging
  - ../../k8s/vector/flux.yaml
  
  # Core infrastructure dependencies
  - ../../k8s/cert-manager/flux.yaml
  - ../../k8s/cert-manager-issuer/flux.yaml
  - ../../k8s/metallb/flux.yaml
  - ../../k8s/metallb/metallb-config.yaml
  
  # Networking
  - ../../k8s/traefik/flux.yaml
  - ../../k8s/cloudflare-tunnel/flux.yaml
  - ../../k8s/wireguard-client/flux.yaml
  
  # VPN & Remote Access
  - ../../k8s/headscale/flux.yaml
  - ../../k8s/tailscale-router/flux.yaml
  
  # Storage
  - ../../k8s/longhorn/flux.yaml
  
  # Hardware
  - ../../k8s/intel-gpu/flux.yaml
  
  # DNS & Security
  - ../../k8s/pihole/flux.yaml
  - ../../k8s/pocket-id/flux.yaml
  - ../../k8s/tinyauth/flux.yaml
