---
theme: auto
server:
  address: 'tcp://0.0.0.0:9091'
  asset_path: ''
  disable_healthcheck: false

log:
  level: info
  format: text
  file_path: ''
  keep_stdout: true

totp:
  issuer: home.coredev.uk
  period: 30
  skew: 1

identity_validation:
  reset_password:
    jwt_secret: ''

authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 5m
  ldap:
    implementation: lldap
    address: 'ldap://lldap:3890'
    timeout: 5s
    start_tls: false
    base_dn: dc=home,dc=coredev,dc=uk
    additional_users_dn: ou=people
    users_filter: '(&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))'
    additional_groups_dn: ou=groups
    groups_filter: '(&(member={dn})(objectClass=groupOfNames))'
    user: uid=admin,ou=people,dc=home,dc=coredev,dc=uk
    attributes:
      username: uid
      display_name: cn
      mail: mail
      member_of: memberOf
      group_name: cn

access_control:
  default_policy: deny
  rules:
    - domain: auth.home.coredev.uk
      policy: bypass
    - domain: homebridge.home.coredev.uk
      resources:
        - '^/api/.*$'
        - '^/socket.io/.*$'
      policy: bypass
    - domain: '*.home.coredev.uk'
      policy: one_factor

session:
  secret: ''
  cookies:
    - domain: home.coredev.uk
      authelia_url: https://auth.home.coredev.uk
      default_redirection_url: https://home.coredev.uk
      name: authelia_session
      same_site: lax
      expiration: 1h
      inactivity: 5m
      remember_me: 1M
  redis:
    host: redis
    port: 6379

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

storage:
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: false
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    hmac_secret: ''
    jwks:
      - key: |
          {{- fileContent "/secrets/oidc-private-key" | nindent 10 }}
    lifespans:
      access_token: 1h
      authorize_code: 1m
      id_token: 1h
      refresh_token: 90m
    enable_client_debug_messages: false
    enforce_pkce: public_clients_only
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    clients:
      - client_id: grafana
        client_name: Grafana Monitoring
        client_secret: {{ fileContent "/secrets/grafana-client-secret" }}
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://grafana.home.coredev.uk/login/generic_oauth
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
      
      - client_id: argocd
        client_name: Argo CD
        client_secret: {{ fileContent "/secrets/argocd-client-secret" }}
        public: false
        authorization_policy: one_factor
        require_pkce: false
        pkce_challenge_method: ''
        redirect_uris:
          - https://argocd.home.coredev.uk/auth/callback
        scopes:
          - openid
          - groups
          - email
        response_types:
          - code
        grant_types:
          - authorization_code
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: client_secret_basic
      
      - client_id: argocd-cli
        client_name: Argo CD (CLI)
        public: true
        authorization_policy: one_factor
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - http://localhost:8085/auth/callback
        scopes:
          - openid
          - offline_access
          - groups
          - email
        response_types:
          - code
        grant_types:
          - authorization_code
          - refresh_token
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'none'
