apiVersion: v1
kind: ConfigMap
metadata:
  name: headplane-config
  namespace: headplane
data:
  config.yaml: |
    server:
      host: 0.0.0.0
      port: 3000
      cookie_secret: ${COOKIE_SECRET}
      cookie_secure: true
    
    headscale:
      url: http://headscale.headscale.svc.cluster.local:8080
      config_strict:
        server_url: https://headscale.coredev.uk
        prefixes:
          v4: 100.64.0.0/10
          v6: fd7a:115c:a1e0::/48
    
    oidc:
      issuer: https://id.home.coredev.uk
      client_id: d5bb0835-b786-4356-b634-576b32a021ad
      client_secret: ${OIDC_CLIENT_SECRET}
      redirect_uri: https://headplane.home.coredev.uk/admin/oidc/callback
      token_endpoint_auth_method: client_secret_post
      disable_api_key_login: false
      headscale_api_key: ${HEADSCALE_API_KEY}
