server:
  host: 0.0.0.0
  port: 3000
  cookie_secret_path: /etc/headplane/secrets/cookie-secret
  cookie_secure: true

headscale:
  url: http://headscale.headscale.svc.cluster.local:8080
  config_strict: true

oidc:
  issuer: https://id.home.coredev.uk
  client_id: /etc/headplane/secrets/oidc-client-id 
  client_secret_path: /etc/headplane/secrets/oidc-client-secret
  redirect_uri: https://headplane.home.coredev.uk/admin/oidc/callback
  token_endpoint_auth_method: client_secret_post
  disable_api_key_login: false
  headscale_api_key_path: /etc/headplane/secrets/headscale-api-key
