# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
- monitoring/servicemonitors.yaml
patches:
  # Enable OOM detection for helm-controller (graceful shutdown before OOMKill)
  # See: https://fluxcd.io/flux/installation/configuration/helm-oom-detection/
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: helm-controller
      spec:
        template:
          spec:
            containers:
              - name: manager
                args:
                  - --events-addr=http://notification-controller.$(RUNTIME_NAMESPACE).svc.cluster.local./
                  - --watch-all-namespaces=true
                  - --log-level=info
                  - --feature-gates=OOMWatch=true
                  - --oom-watch-memory-threshold=95
                  - --oom-watch-interval=500ms
    target:
      kind: Deployment
      name: helm-controller
