apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: prometheus-tls
  namespace: monitoring
spec:
  secretName: prometheus-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - prometheus.home.coredev.uk
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`prometheus.home.coredev.uk`) && PathPrefix(`/api`)
      kind: Rule
      services:
        - name: monitoring-kube-prometheus-prometheus
          port: 9090
    - match: Host(`prometheus.home.coredev.uk`)
      kind: Rule
      middlewares:
        - name: tinyauth-forwardauth
          namespace: pocket-id
      services:
        - name: monitoring-kube-prometheus-prometheus
          port: 9090
  tls:
    secretName: prometheus-tls
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana-tls
  namespace: monitoring
spec:
  secretName: grafana-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - grafana.home.coredev.uk
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.home.coredev.uk`)
      kind: Rule
      services:
        - name: monitoring-kube-prometheus-stack-grafana
          port: 80
  tls:
    secretName: grafana-tls
