# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cleanuparr
  namespace: cleanuparr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: cleanuparr
  values:
    defaultPodOptions:
      annotations:
        glance/name: "Cleanuparr"
        glance/icon: "di:cleanuperr"
        glance/url: "https://cleanuparr.home.coredev.uk"
        glance/description: "Media Cleanup"

    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/cleanuparr/cleanuparr
              tag: 2.6.3@sha256:0d18e5dedbc376e48c449286f08460a9d76fb4fa842eff93f863ca120c97ea97
            env:
              TZ: Europe/London
            resources:
              requests:
                memory: 256Mi
                cpu: 50m
              limits:
                memory: 512Mi
                cpu: 500m
            probes:
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 11011
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  failureThreshold: 3
              liveness:
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  periodSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  periodSeconds: 30
                  failureThreshold: 3

    service:
      main:
        controller: main
        ports:
          http:
            port: 11011

    persistence:
      config:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 250Mi
        storageClass: longhorn
        globalMounts:
          - path: /config
      data:
        type: nfs
        server: 192.168.20.40
        path: /var/nfs/shared/Homelab
        globalMounts:
          - path: /data
