apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-pvc
  namespace: cleanuparr
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  volumeName: media-pv
  storageClassName: ""
