apiVersion: v1
kind: ServiceAccount
metadata:
  name: tailscale-router
  namespace: tailscale-router
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: tailscale-router
  namespace: tailscale-router
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "get", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: tailscale-router
  namespace: tailscale-router
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: tailscale-router
subjects:
  - kind: ServiceAccount
    name: tailscale-router
    namespace: tailscale-router
