apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudflare-tunnel
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/cloudflare-tunnel
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
    namespace: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  wait: true
  timeout: 5m
