---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 10m0s
  chart:
    spec:
      chart: longhorn
      version: 1.10.1
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
      interval: 1m0s
  install:
    createNamespace: true
  values:
    preUpgradeChecker:
      jobEnabled: false
    longhornUI:
      replicas: 1
      resources:
        limits:
          memory: 256Mi
        requests:
          memory: 128Mi
    longhornManager:
      resources:
        limits:
          memory: 512Mi
        requests:
          memory: 256Mi
    longhornDriver:
      resources:
        limits:
          memory: 256Mi
        requests:
          memory: 128Mi
    csi:
      attacher:
        resources:
          limits:
            memory: 128Mi
          requests:
            memory: 64Mi
      provisioner:
        resources:
          limits:
            memory: 128Mi
          requests:
            memory: 64Mi
      resizer:
        resources:
          limits:
            memory: 128Mi
          requests:
            memory: 64Mi
      snapshotter:
        resources:
          limits:
            memory: 128Mi
          requests:
            memory: 64Mi
    service:
      ui:
        type: ClusterIP
        annotations:
          glance/name: "Longhorn"
          glance/icon: "si:longhorn"
          glance/url: "https://longhorn.home.coredev.uk"
          glance/description: "Storage Management"
    ingress:
      enabled: false
    defaultSettings:
      defaultReplicaCount: "1"
      storageOverProvisioningPercentage: "200"
      storageMinimalAvailablePercentage: "10"
      defaultDataLocality: "best-effort"
      backupTarget: "nfs://192.168.20.40:/var/nfs/shared/LonghornBackups?nfsOptions=vers=3,nolock,hard,timeo=600,retrans=3"
      backupTargetCredentialSecret: ""
