apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ingress
  namespace: longhorn-system
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/redirect-to-https: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.middlewares: authelia-authelia-forwardauth@kubernetescrd
    glance/name: "Longhorn"
    glance/icon: "si:longhorn"
    glance/url: "https://longhorn.home.coredev.uk"
    glance/description: "Storage Management"
spec:
  tls:
    - hosts:
        - longhorn.home.coredev.uk
      secretName: longhorn-tls
  rules:
    - host: longhorn.home.coredev.uk
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: longhorn-frontend
                port:
                  number: 80
