---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/kube-prometheus-stack
  prune: true
  wait: true
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: homelab
  dependsOn:
    - name: traefik
