apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-system

resources:
  - flux.yaml

configMapGenerator:
  - name: kube-prometheus-stack-values
    files:
      - values.yaml
    options:
      disableNameSuffixHash: true
