# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: notifiarr
  namespace: notifiarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: notifiarr
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        runAsNonRoot: true
      annotations:
        glance/name: "Notifiarr"
        glance/icon: "di:notifiarr"
        glance/url: "https://notifiarr.home.coredev.uk"
        glance/description: "Notifications"
      hostname: hyperion

    controllers:
      main:
        containers:
          main:
            image:
              repository: golift/notifiarr
              tag: v0.9.2@sha256:738d7e1421c18960884b09a5026871a112119910af9f6e4743e8d2cdbbe59e8b
            env:
              TZ: Europe/London
              DN_UPSTREAMS_0: "10.244.0.0/16"
              DN_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: notifiarr-secrets
                    key: api-key
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsNonRoot: true
              runAsUser: 1000
              capabilities:
                drop:
                  - ALL
                add:
                  - SYS_RAWIO
                  - DAC_OVERRIDE
            resources:
              requests:
                memory: 128Mi
                cpu: 50m
              limits:
                memory: 512Mi
                cpu: 200m
            probes:
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: &port 5454
                  initialDelaySeconds: 15
                  periodSeconds: 5
                  failureThreshold: 12
              liveness:
                enabled: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: *port
                  periodSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: *port
                  periodSeconds: 30
                  failureThreshold: 3

    serviceAccount:
      create: true
      name: notifiarr

    service:
      main:
        controller: main
        ports:
          http:
            port: 5454

    persistence:
      config:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 250Mi
        storageClass: longhorn
        globalMounts:
          - path: /config
      proc:
        type: hostPath
        hostPath: /proc
        globalMounts:
          - path: /proc
            readOnly: true
      sys:
        type: hostPath
        hostPath: /sys
        globalMounts:
          - path: /sys
            readOnly: true
