apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: metallb
  namespace: flux-system
spec:
  interval: 24h
  url: https://metallb.github.io/metallb
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
  namespace: flux-system
spec:
  interval: 30m
  retryInterval: 2m
  chart:
    spec:
      chart: metallb
      version: 0.15.3
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: flux-system
      interval: 12h
  install:
    createNamespace: true
    crds: Create
  upgrade:
    crds: CreateReplace
  targetNamespace: metallb-system
  values:
    crds:
      enabled: true
      validationFailurePolicy: Fail
    prometheus:
      serviceMonitor:
        enabled: true
        speaker:
          additionalLabels:
            release: kube-prometheus-stack
        controller:
          additionalLabels:
            release: kube-prometheus-stack
