apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: https://argocd.home.coredev.uk
  oidc.config: |
    name: Authelia
    issuer: https://auth.home.coredev.uk
    clientID: argocd
    clientSecret: $oidc.authelia.clientSecret
    requestedScopes:
      - openid
      - profile
      - email
      - groups
    requestedIDTokenClaims:
      groups:
        essential: true
    enableUserInfoGroups: true
    userInfoPath: /api/oidc/userinfo
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  policy.default: role:readonly
  policy.csv: |
    g, argocd_admin, role:admin
    g, argocd_editor, role:developer
  scopes: '[groups, email]'
