apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - flux.yaml

configMapGenerator:
  - name: traefik-values
    namespace: flux-system
    files:
      - values.yaml

generatorOptions:
  disableNameSuffixHash: true

configurations:
  - kustomizeconfig.yaml
