---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: alloy
  namespace: flux-system
spec:
  interval: 10m0s
  timeout: 10m
  chart:
    spec:
      chart: alloy
      version: 1.5.2
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 1m0s
  targetNamespace: monitoring
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  valuesFrom:
    - kind: ConfigMap
      name: alloy-values
      valuesKey: values.yaml
