---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-system

configMapGenerator:
  - name: alloy-values
    files:
      - values.yaml

generatorOptions:
  disableNameSuffixHash: true

resources:
  - helm.yaml
