# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bazarr
  namespace: bazarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: bazarr
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 988
        fsGroup: 988
        fsGroupChangePolicy: OnRootMismatch
      annotations:
        glance/name: "Bazarr"
        glance/icon: "di:bazarr"
        glance/url: "https://bazarr.home.coredev.uk"
        glance/description: "Subtitle Management"

    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.5@sha256:0949a30fb6e6703a63aaa9775760b8af820f7871f6a9aa9207e2ea00fd855e2c
            env:
              TZ: Europe/London
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                memory: 256Mi
                cpu: 100m
              limits:
                memory: 1Gi
                cpu: 1000m
            probes:
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /
                    port: &port 6767
                  initialDelaySeconds: 15
                  periodSeconds: 5
                  failureThreshold: 12
              liveness:
                enabled: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  periodSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  periodSeconds: 10
                  failureThreshold: 3

    service:
      main:
        controller: main
        ports:
          http:
            port: 6767

    persistence:
      config:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 500Mi
        storageClass: longhorn
        globalMounts:
          - path: /config
      data:
        type: nfs
        server: 192.168.20.40
        path: /var/nfs/shared/Homelab
        globalMounts:
          - path: /data
