---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Validate

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ '*' ]
    paths:
      - 'flux/**'
      - 'k8s/**'

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup yq
        uses: fluxcd/pkg/actions/yq@main

      - name: Setup kubeconform
        uses: fluxcd/pkg/actions/kubeconform@main

      - name: Setup kustomize
        uses: fluxcd/pkg/actions/kustomize@main

      # - name: Validate manifests
      #   run: bash ./.github/scripts/validate.sh
