apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - ingress.yaml

configMapGenerator:
  - name: headplane-config
    namespace: headscale
    files:
      - config.yaml
    options:
      disableNameSuffixHash: true
