apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: pihole-ingressroute
  namespace: pihole
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`pihole.home.coredev.uk`) && (PathPrefix(`/admin/api.php`) || PathPrefix(`/api`))
      kind: Rule
      services:
        - name: pihole-web
          port: 80
    - match: Host(`pihole.home.coredev.uk`)
      kind: Rule
      middlewares:
        - name: authelia-forwardauth
          namespace: authelia
      services:
        - name: pihole-web
          port: 80
  tls:
    secretName: pihole-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: pihole-redirect
  namespace: pihole
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`pihole.home.coredev.uk`)
      kind: Rule
      middlewares:
        - name: https-redirect
      services:
        - name: pihole-web
          port: 80
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: https-redirect
  namespace: pihole
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: pihole-tls
  namespace: pihole
spec:
  secretName: pihole-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - pihole.home.coredev.uk
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: pihole-real-ip
  namespace: pihole
spec:
  headers:
    customRequestHeaders:
      X-Real-IP: ""
      X-Forwarded-For: ""
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: pihole-headers
  namespace: pihole
spec:
  headers:
    customRequestHeaders:
      X-Real-IP: ""
      X-Forwarded-For: ""
    customResponseHeaders:
      X-Frame-Options: "SAMEORIGIN"
      X-Content-Type-Options: "nosniff"
